<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family.us.mapper.UsUserMapper">

    <resultMap type="UsUser" id="UsUserResult">
        <result property="ID"    column="ID"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="face"    column="face"    />
        <result property="nickname"    column="nickname"    />
        <result property="sex"    column="sex"    />
        <result property="born"    column="born"    />
        <result property="grade"    column="grade"    />
        <result property="background"    column="background"    />
        <result property="familyId"    column="family_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="role"    column="role"    />
        <result property="districtId"    column="district_id"    />
        <result property="districtName"    column="district_name"    />
        <result property="jobId"    column="job_id"    />
        <result property="jobName"    column="job_name"    />
        <result property="memberTypeId"    column="member_type_id"    />
        <result property="memberName"    column="member_name"    />
        <result property="expirationTime"    column="expiration_time"    />
        <result property="tel"    column="tel"    />
        <result property="notice"    column="notice"    />
        <result property="bells"    column="bells"    />
        <result property="vibrate"    column="vibrate"    />
        <result property="privacyRecommend"    column="privacy_recommend"    />
        <result property="privacyCamera"    column="privacy_camera"    />
        <result property="privacyAlbum"    column="privacy_album"    />
        <result property="privacyMike"    column="privacy_mike"    />
        <result property="teenageMode"    column="teenage_mode"    />
        <result property="balance"    column="balance"    />
        <result property="cancellation"    column="cancellation"    />
        <result property="countTask"    column="count_task"    />
        <result property="countTool"    column="count_tool"    />
        <result property="countQuestions"    column="count_questions"    />
        <result property="countTest"    column="count_test"    />
        <result property="createdUserId"    column="created_user_id"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flagDelete"    column="flag_delete"    />
    </resultMap>

    <sql id="selectUsUserVo">
        select ID, account, password, face, nickname, sex, born, grade, background, family_id, role_id, role, district_id, district_name, job_id, job_name, member_type_id, member_name, expiration_time, tel, notice, bells, vibrate, privacy_recommend, privacy_camera, privacy_album, privacy_mike, teenage_mode, balance, cancellation, count_task, count_tool, count_questions, count_test, created_user_id, update_user_id, created_time, update_time, flag_delete from us_user
    </sql>

    <select id="selectUsUserByID" parameterType="Integer" resultMap="UsUserResult">
        <include refid="selectUsUserVo"/>
        where ID = #{ID}
    </select>

    <select id="selectUsUserByAccount" parameterType="String" resultMap="UsUserResult">
        <include refid="selectUsUserVo"/>
        where account = #{account}
    </select>

    <select id="selectUsUserByTel" parameterType="String" resultMap="UsUserResult">
        <include refid="selectUsUserVo"/>
        where tel = #{tel}
    </select>

    <update id="updateUsUser" parameterType="UsUser">
        update us_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="face != null and face != ''">face = #{face},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="born != null">born = #{born},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="background != null and background != ''">background = #{background},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="role != null">role = #{role},</if>
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="districtName != null">district_name = #{districtName},</if>
            <if test="jobId != null">job_id = #{jobId},</if>
            <if test="jobName != null">job_name = #{jobName},</if>
            <if test="memberTypeId != null">member_type_id = #{memberTypeId},</if>
            <if test="memberName != null">member_name = #{memberName},</if>
            <if test="expirationTime != null">expiration_time = #{expirationTime},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="notice != null">notice = #{notice},</if>
            <if test="bells != null">bells = #{bells},</if>
            <if test="vibrate != null">vibrate = #{vibrate},</if>
            <if test="privacyRecommend != null">privacy_recommend = #{privacyRecommend},</if>
            <if test="privacyCamera != null">privacy_camera = #{privacyCamera},</if>
            <if test="privacyAlbum != null">privacy_album = #{privacyAlbum},</if>
            <if test="privacyMike != null">privacy_mike = #{privacyMike},</if>
            <if test="teenageMode != null">teenage_mode = #{teenageMode},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="cancellation != null">cancellation = #{cancellation},</if>
            <if test="countTask != null">count_task = #{countTask},</if>
            <if test="countTool != null">count_tool = #{countTool},</if>
            <if test="countQuestions != null">count_questions = #{countQuestions},</if>
            <if test="countTest != null">count_test = #{countTest},</if>
            <if test="createdUserId != null">created_user_id = #{createdUserId},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flagDelete != null">flag_delete = #{flagDelete},</if>
        </trim>
        where ID = #{ID}
    </update>

    <insert id="insertUsUser" parameterType="UsUser" useGeneratedKeys="true" keyProperty="ID">
        insert into us_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="face != null and face != ''">face,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="sex != null">sex,</if>
            <if test="role != null">role,</if>
            <if test="tel != null">tel,</if>
            <if test="notice != null">notice,</if>
            <if test="bells != null">bells,</if>
            <if test="vibrate != null">vibrate,</if>
            <if test="privacyRecommend != null">privacy_recommend,</if>
            <if test="privacyCamera != null">privacy_camera,</if>
            <if test="privacyAlbum != null">privacy_album,</if>
            <if test="privacyMike != null">privacy_mike,</if>
            <if test="teenageMode != null">teenage_mode,</if>
            <if test="balance != null">balance,</if>
            <if test="cancellation != null">cancellation,</if>
            <if test="countTask != null">count_task,</if>
            <if test="countTool != null">count_tool,</if>
            <if test="countQuestions != null">count_questions,</if>
            <if test="countTest != null">count_test,</if>
            created_user_id,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="face != null and face != ''">#{face},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="sex != null">#{sex},</if>
            <if test="role != null">#{role},</if>
            <if test="tel != null">#{tel},</if>
            <if test="notice != null">#{notice},</if>
            <if test="bells != null">#{bells},</if>
            <if test="vibrate != null">#{vibrate},</if>
            <if test="privacyRecommend != null">#{privacyRecommend},</if>
            <if test="privacyCamera != null">#{privacyCamera},</if>
            <if test="privacyAlbum != null">#{privacyAlbum},</if>
            <if test="privacyMike != null">#{privacyMike},</if>
            <if test="teenageMode != null">#{teenageMode},</if>
            <if test="balance != null">#{balance},</if>
            <if test="cancellation != null">#{cancellation},</if>
            <if test="countTask != null">#{countTask},</if>
            <if test="countTool != null">#{countTool},</if>
            <if test="countQuestions != null">#{countQuestions},</if>
            <if test="countTest != null">#{countTest},</if>
            #{ID},
        </trim>
    </insert>

    <select id="checkTelUnique" parameterType="String" resultMap="UsUserResult">
        select ID, tel from us_user where tel = #{tel} and flag_delete = '0' limit 1
    </select>

    <update id="resetUserPwd" parameterType="UsUser">
        update us_user set password = #{newPassword} where ID = #{ID}
    </update>

    <update id="updateUserAvatar" parameterType="UsUser">
        update us_user set face = #{avatar} where ID = #{ID}
    </update>

    <update id="updateUserBackground" parameterType="UsUser">
        update us_user set background = #{background} where ID = #{ID}
    </update>

</mapper>
